nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgb(230, 180, 52), rgb(247, 230, 187));
    height: 105px;
    
}
.logo{
    height: 136px;
    width: 150px;
    padding: 7px;
}
.Menu{
    display: flex;
    list-style: none;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
ul li{
    display: flex;
    padding: 0px 20px;
}